* {
    margin: 0;
    padding: 0;
}

header, section, article {
    display: block;
}

nav {
    display: flex;
    background-color: rgb(2, 192, 206);
    height: 150px;
    align-items: center;
    justify-content: space-around;
}

.container-lista {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 350px;
}

.img-01 {
    height: 100px;
}

li {
    color: white;
    font-size: 25px;
}

.separador {
    height: 100px;
}
.img-02 {
    height: 500px;
    width: 100%;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

h1 {
    font-family: sans-serif;
    font-size: 75px;
}

.trabajos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caja {
    border: 2px solid rgb(53, 51, 51);
    border-radius: 15%;
    padding: 130px 75px;
    margin: 75px;
    font-family: sans-serif;
    font-size: 30px;
    color: white;
    background-color: rgb(228, 58, 177);
    box-shadow: 10px 10px rgb(107, 85, 101);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: rgb(2, 192, 206);
}

p {
    font-size: 35px;
    font-family: sans-serif;
    color: white;
}